@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  width: 412px;
  height: 915px;
  border: 5px solid tomato;
  overflow: auto;
  font-family: 'Kanit', sans-serif;
  margin: auto;
}

.box {
  border: 2px solid #000;
}

.content__text {
  font-size: 1.5em;
  font-weight: bold;
}

/* 공통 스타일 */

.header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__column:first-child {
  flex: 1;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.header__column:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header__column:last-child {
  flex: 1;
}

.header__title {
  line-height: 64px;
  font-size: 2em;
  font-weight: 600;
}

/* header end */

.current-music {
  width: 90%;
  height: auto;
  margin: 50px 20px 0;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 3fr 1fr;
  column-gap: 20px;
  align-items: center;
}

.current-music__image {
  width: 100%;
  height: auto;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-radius: 20px;
}
.current-music__title {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1em;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.current-music__subtitle {
  font-size: 1.2em;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* current-music end */

.button {
  width: 90%;
  height: auto;
  margin: 50px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button__main,
.button__sub {
  box-shadow: 0px 3px 0px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__main:hover,
.button__sub:hover {
  background-color: rgba(255, 99, 71, 0.5);
}
.button__main:active,
.button__sub:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

.button__main {
  width: 180px;
  height: 60px;
  border-radius: 20px;
}
.button__sub {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.button__icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: center;
}

.button__text {
  margin-left: 10px;
}

/* button end */

.list-music {
  width: 90%;
  height: auto;
  margin: 50px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-music__item {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 4em 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  align-items: center;
}

.list-music__image {
  width: calc(4em - 4px);
  height: calc(4em - 4px);
  border-radius: 20px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.list-music__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.list-music__subtitle {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: rgba(0, 0, 0, 0.7);
}
