@import 'reset.css';

body {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  all: unset;
  padding: 10px;
  text-align: center;
  background-color: royalblue;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  transition: opacity linear 0.2s;
}

button:hover {
  opacity: 0.8;
}

#canvas {
  width: 800px;
  height: 800px;
  border-radius: 10px;
  background-color: #fff;
}

.color-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  border: 3px solid #fff;
}

.color-option:hover {
  transform: scale(1.2);
}

#color {
  width: 50px;
  height: 30px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#text-input {
  all: unset;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  background-color: #fff;
  padding: 10px;
}

#file-input {
  display: none;
}

#file-label {
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  background-color: royalblue;
  color: #fff;
  padding: 10px;
  transition: 0.2s linear;
}

#file-label:hover {
  opacity: 0.8;
}

#font-dropdown {
  position: relative;
  cursor: pointer;
  text-align: center;
}

.dropdown-btn {
  border-radius: 10px;
  font-weight: 600;
  background-color: gray;
  color: #fff;
  padding: 10px;
  transition: 0.2s linear;
}

.dropdown-btn:hover {
  opacity: 0.8;
}

.dropdown-item {
  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

.dropdown-item div {
  padding: 10px;
}

.dropdown-item div:not(:last-child) {
  border-bottom: 1px solid #000;
}

.dropdown-item div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dropdown-item div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-item div:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.show {
  display: block;
}
