#chat-screen {
  height: 1100vh;
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  position: sticky;
  top: 25px;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-chat__timestamp {
  padding: 10px 15px;
  font-size: 0.9em;
  border-radius: 20px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
