#chat-screen {
  height: 1100vh;
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  position: sticky;
  top: 25px;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-chat__timestamp {
  padding: 10px 15px;
  font-size: 0.9em;
  border-radius: 20px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
}

.message-row__img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-right: 10px;
}

.message-row__author {
  display: block;
  color: var(--dark-gray);
  margin-bottom: 8px;
}

.message-row__message {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 1.2em;
}

.message__time {
  color: var(--dark-gray);
  font-size: 0.8em;
}
