#chat-screen {
  height: 150vh;
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  position: sticky;
  top: 25px;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-chat__timestamp {
  padding: 10px 15px;
  font-size: 0.9em;
  border-radius: 20px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  animation: fadeInTop 1s ease;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeInLeft 1s ease;
}

.message-row__img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-right: 10px;
}

.message-row__author {
  display: block;
  color: var(--dark-gray);
  margin-bottom: 8px;
}

.message-row__message {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 1.2em;
}

.message__time {
  color: var(--dark-gray);
  font-size: 0.8em;
}

.message-row--own {
  justify-content: flex-end;
  animation: fadeInRight 1s ease;
}

.message-row--own .message-row__message {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  padding: 5px 25px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.message-input .message-input__column:first-child,
.message-input .fa-face-smile,
.message-input button {
  transition: all 0.5s ease-in-out;
}

.message-input:focus-within .message-input__column:first-child,
.message-input:focus-within .fa-face-smile,
.message-input:focus-within button {
  opacity: 0;
}

.message-input:focus-within input {
  transform: translateX(-12%) translateY(-80px);
  width: 90vw;
}

.message-input:focus-within {
  transform: translateY(80px);
}

.message-input input {
  width: 90%;
  height: 30px;
  border: var(--separator);
  border-radius: 20px;
  padding-left: 20px;
  transition: all 0.5s ease-in-out;
}

.message-input input:focus {
  outline: none;
}

.message-input__column:first-child {
  width: 10%;
}
.message-input__column:last-child {
  width: 90%;
  max-width: 430px;
  position: relative;
}

.message-input__column:last-child > i,
.message-input__column:last-child button {
  position: absolute;
  right: 24px;
  top: 2px;
}

.message-input__column:last-child > i {
  right: 80px;
  top: 16px;
}

.message-input__column button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: var(--yellow);
}

.message-input__column button:focus,
.message-input__column button:active {
  outline: none;
}

.message-input__column i {
  color: #000;
}

.message-input__column i:not(:last-child) {
  opacity: 0.5;
}
