/* icons */
.find-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.find-icons__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icons i {
  font-size: 2rem;
}

.find-icons__text {
  margin-top: 30px;
}
/* icons end */

/* recommend */
.recommend-friends {
  border-top: var(--separator);
  border-bottom: var(--separator);
  padding: 25px 0;
}

.recommend-friends__title {
  font-size: 1.2em;
  color: var(--dark-gray);
}

.recommend-friends__text {
  margin: 110px;
  display: flex;
  justify-content: center;
  color: var(--dark-gray);
  text-align: center;
}

.recommend-friends__text span {
  font-size: 1.5em;
  /* color: var(--dark-gray); */
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
}

.open-chat__text {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.open-chat > .open-post:not(:last-child) {
  border-bottom: var(--separator);
}

.open-post__column:first-child {
  max-width: calc(100% - 140px);
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
  font-size: 1.2em;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  color: var(--dark-gray);
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  background-color: var(--dark-gray);
  margin: 0 5px;
}

.open-post__member-status {
  color: rgb(255, 175, 188);
}

.open-post__main-img {
  position: relative;
}

.open-post__main-img img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.open-post__heart-count i {
  color: #fff;
  margin-right: 3px;
}

.open-post__hashtags {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
