.friends-display-link {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  margin-bottom: 5px;
  margin-top: -10px;
}

.friends-display-link__text {
  margin: 0 10px 0 5px;
  color: var(--black);
  font-size: 1.2em;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.fa-solid {
  color: #d5d5d5;
}

.friends-screen__channel {
  margin-top: 25px;
  padding-top: 15px;
  border-top: var(--separator);
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.friends-screen__channel-header span {
  color: rgba(0, 0, 0, 0.5);
}

#splash-screen {
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  font-size: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}
