.friends-display-link {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.friends-display-link__text {
  margin: 0 10px 0 5px;
  color: var(--black);
  font-size: 1.2em;
}

.fa-solid {
  color: #d5d5d5;
}
