.settings-list {
  padding-left: 0;
  padding-bottom: 15px;
  border-bottom: var(--sub-separator);
}

.settings__setting {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings__setting i {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.settings__text {
  font-size: 1.2em;
}

.settings__column:last-child {
  opacity: 0.7;
}
