.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 2em;
  font-weight: 600;
  color: var(--black);
}

.screen-header__icon {
  display: flex;
}

.screen-header__icon svg {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.screen-header__icon span {
  margin-left: 30px;
  cursor: pointer;
}
