@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');
@import 'reset.css';
@import 'variables.css';

/* Components */
@import 'components/status-bar.css';
@import 'components/nav-bar.css';
@import 'components/header-screen.css';
@import 'components/user-component.css';
@import 'components/badge.css';
@import 'components/icon-row.css';

/* Screens */
@import 'screen/login.css';
@import 'screen/friends.css';
@import 'screen/find.css';
@import 'screen/more.css';

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.main-screen {
  padding: 0 var(--horizontal-space);
}
